body {background-color:#F5EEDC;}
hr {border-style: none;
    border-style: dotted none none;
    border-color: #9C0F48;
    border-width: 5px;
    width:5%;
  }
  img    {
   height: 200px;}
h1 {color:#9C0F48; }
h2  {color:#9C0F48; }
h3  {color:#9C0F48; }
h4    {color:#9C0F48; }
